﻿@{
    ViewBag.Title = "About";
}
<div class="row-fluid">
    <div class="span12" style="text-align:center">
        <h3>Contacto</h3>
        <!---<address style="margin-bottom:15px;">
            <strong><a href="index.html" title="business"><i class=" icon-home"></i> Business (p.) Ltd. </a></strong><br>
            194, Vectoria Street, Newwork <br>
            nw 488, USA<br>
        </address>-->
        <label>
            Nombre:
        </label><input type="text" />
        <br />
        <label>
            Correo:
        </label>
        <input type="text" />
        <br />
        <label>
            Mensaje:
        </label>
        <textarea rows="10" style="width:70%"></textarea>
        <br />
        <input type="button" class="btn btn-large btn-success" value="Enviar"/>
        <br />
        
    </div>
</div>