﻿@model IEnumerable<Domain.Product>
@{
    ViewBag.Title = "Products";
}
@foreach (var item in Model)
{
    <div class="span4">
        <div class="thumbnail">
            <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
            <img src="@Url.Content(item.ImagePath)" alt="IMAGES" style="width:200px;height:150px" />
            <p>
                <br />
                @Html.DisplayFor(modelItem => item.Description)
            </p>
            @Html.ActionLink("Ver Referencias", "Products", "Products", new { line = item.Line.Name, productID = item.Id }, null)
            <div class="btn-toolbar">
                <div class="btn-group toolTipgroup">
                    <a class="btn" href="mailto:@(ViewBag.MailSender)?Subject=Pregunta Artículo @(item.Name)" data-placement="right" data-original-title="Preguntar"><i class="icon-envelope"></i></a>
                    <a class="btn" href="#" data-placement="top" data-original-title="Compartir"><i class="icon-link"></i></a>
                    <a class="btn" href="@Url.Action("Products","Products", new { line=item.Line.Name, productid=item.Id })" data-placement="left" data-original-title="Referencias"><i class="icon-globe"></i></a>
                </div>
            </div>
        </div>
    </div>
    
}
