﻿@model IEnumerable<Domain.Reference>
@{
    ViewBag.Title = "References: " + ViewContext.RouteData.Values["line"];
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function ($) {
            productLine = '@(ViewContext.RouteData.Values["line"])';
            productID = '@(ViewContext.HttpContext.Request.Params["productid"])';
            LoadInformation(productLine, productID);
        });

    </script>
}

@foreach (var item in Model)
{
    <div class="span4">
        <div class="thumbnail">
            @if (item.Name.Length > 30)
            {
                <h4>
                    <abbr title="@Html.DisplayFor(modelItem => item.Name)" rel="tooltip">@MvcHtmlString.Create(item.Name.Substring(0, 30)) ...</abbr>
                </h4>

            }
            else
            {
                <h4>
                    <abbr title="@Html.DisplayFor(modelItem => item.Name)" rel="tooltip">@Html.DisplayFor(modelItem => item.Name)</abbr>
                </h4>
            }
            <img src="@Url.Content(item.ImagePath)" alt="IMAGES" style="width:200px;height:150px" />
            <p>
                <br />
                @Html.DisplayFor(modelItem => item.Description)
            </p>
            <label>
                Valor:
                $ @Html.DisplayFor(modelItem => item.Value)
            </label>
            <label>
                Cantidad:
            </label>
            <input id="txtQuantity-@item.Id" class="txtNumeric" style="width:20%" onblur="Calculate(this, @item.Value, @item.Id)" type="text" data-a-sign="" data-a-sep="." data-a-dec="," data-v-min="0" data-v-max="10000" />
            <label>
                Observación:
            </label>
            <textarea id="txtObservacion-@item.Id" rows="5"></textarea>
            <label id="@item.Id">
                Total:
            </label>
            <div class="btn-toolbar">
                <div class="btn-group toolTipgroup">
                    <a class="btn" href="#" data-placement="right" data-original-title="Agregar" name="@item.Id"
                       onclick="AddItem(this, @item.Value, '@item.Name', productLine, productID)"><i class="icon-plus-sign"></i></a>
                    <a class="btn" href="#" data-placement="right" data-original-title="Eliminar" name="@item.Id"
                       onclick="RemoveItem(this, productLine, productID)"><i class="icon-remove-circle"></i></a>

                    <!--<a class="btn" href="#" data-placement="top" data-original-title="do you like?"><i class="icon-thumbs-up"></i></a>
                        <a class="btn" href="#" data-placement="top" data-original-title="dont like?"><i class="icon-thumbs-down"></i></a>
                        <a class="btn" href="#" data-placement="top" data-original-title="share"><i class="icon-link"></i></a>
                        <a class="btn" href="portfolio.html" data-placement="left" data-original-title="browse"><i class="icon-globe"></i></a>
                    -->
                </div>
            </div>            
        </div>
    </div>
}
<div id="MessagePanel"><h1></h1></div>

