﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - Distrifiestas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link id="callCss" rel="stylesheet" href="~/Content/Template/themes/current/bootstrap.min.css" type="text/css" media="screen" />
    <link href="~/Content/Template/themes/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Template/themes/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Template/themes/css/base.css" rel="stylesheet" type="text/css">
    <link href="~/Content/ToolTip.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Custom.css" rel="stylesheet" type="text/css">

    <style type="text/css" id="enject"></style>
</head>
<body>
    <section id="headerSection">
        <div class="container">
            <div class="navbar">
                <div class="container">
                    <button type="button" class="btn btn-navbar active" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1><a class="brand" href="index.html"> Distrifiestas <small> </small></a></h1>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                @Html.ActionLink("Home", "Index", "Home")
                            </li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Company" ? "active" : "")">
                                @Html.ActionLink("Nuestra Empresa", "Company", "Home")
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle @(ViewContext.RouteData.Values["Action"].ToString() == "Lines" || ViewContext.RouteData.Values["Action"].ToString() == "Products" ? "active" : "")" data-toggle="dropdown">Productos<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("Línea Icopor", "Lines", "Products", new { line = "Icopor" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("Línea Piñatería", "Lines", "Products", new { line = "Piniateria" }, null)
                                    <li>
                                        @Html.ActionLink("Línea Varios", "Lines", "Products", new { line = "Varios" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("Línea Bolsas", "Lines", "Products", new { line = "Bolsas" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("Línea Desechables", "Lines", "Products", new { line = "Desechables" }, null)
                                    </li>
                                </ul>
                            </li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")">
                                @Html.ActionLink("Contactenos", "Contact", "Home")
                            </li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Orders" ? "active" : "")">
                                @Html.ActionLink("Mi Pedido", "Orders", "Orders")
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Header Ends================================================ -->
    <section id="carouselSection" style="text-align:center">
        @RenderSection("carousel", false)
    </section>

    <!-- Sectionone ends ======================================== -->
    <section id="middleSection">
        @RenderSection("middle", false)
    </section>
    <section id="bodySection">
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
            <br />
        </div>
    </section>

    <!--
    <section id="clientsSection" style="text-align:center; padding:48px 0">
        <div class="container">
            <a href="#" target="_blank"><img src="~/Content/Template/themes/images/clients/twitterLogo.jpg" alt="business template"></a>
            <a href="#" target="_blank"><img src="~/Content/Template/themes/images/clients/googleLogo.jpg" alt="business template"></a>
            <a href="#" target="_blank"><img src="~/Content/Template/themes/images/clients/facebookLogo.jpg" alt="business template"></a>
            <a href="http://mywebsolution.info" target="_blank"><img src="~/Content/Template/themes/images/clients/my_web_solution.jpg" alt="business template"></a>
        </div>
    </section>-->
    <!-- body block end======================================== -->
    <!-- Footer
     ================================================== -->
    <section id="footerSection">
        <div class="container">
            <footer class="footer well well-small">
                <div class="row-fluid">
                    <div class="span12" style="text-align:center">
                        <h4>Contacto</h4>
                        <!---<address style="margin-bottom:15px;">
                            <strong><a href="index.html" title="business"><i class=" icon-home"></i> Business (p.) Ltd. </a></strong><br>
                            194, Vectoria Street, Newwork <br>
                            nw 488, USA<br>
                        </address>-->
                        Teléfono: <i class="icon-phone-sign"></i> &nbsp; 00123 456 000 789 <br>
                        Email: <a href="contact.html" title="contact"><i class="icon-envelope-alt"></i> info@companyltd.com</a><br />
                        Link: <a href="index.html" title="Business ltd"><i class="icon-globe"></i> www.businessltd.com</a><br /><br />
                        <h5>Acceso rápido</h5>
                        @Html.ActionLink("Home", "Index", "Home")
                        <br />
                        @Html.ActionLink("Nuestra empresa", "Company", "Home")
                        <br />
                        @Html.ActionLink("Productos", "Products", "Home")
                        <br />
                        @Html.ActionLink("Contactenos", "Contact", "Home")
                        <br />
                        <h5>Encuentranos en</h5>
                        <div style="font-size:2.5em;">
                            <a href="#facebook" role="button" data-toggle="modal" style="display:inline-block; width:1em"> <i class="icon-facebook-sign"> </i> </a>
                            <!-- <a href="#twitter" role="button" data-toggle="modal" title="" style="display:inline-block; width:1em"> <i class="icon-twitter-sign"> </i> </a>-->
                            <a href="#youtube" role="button" data-toggle="modal" style="display:inline-block;width:1em"> <i class="icon-facetime-video"> </i> </a>
                            <!--<a href="#" title="" style="display:inline-block;width:1em"> <i class="icon-google-plus-sign"> </i> </a>
                            <a href="#rss" role="button" data-toggle="modal" style="display:inline-block;width:1em"> <i class="icon-rss"> </i> </a>-->
                            <!-- Facebook -->
                            <div id="facebook" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="facebook" aria-hidden="true">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3>Facebook Header</h3>
                                </div>
                                <div class="modal-body">
                                    <p>"Our aim is simple - to provide affordable web design and development services for Mobile and Computer by creating websites that fully meet your requirements a professional look that inspire confidence in your customer."</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                    <button class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                            <!-- Twitter -->
                            <div id="twitter" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="twitter" aria-hidden="true">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3>Twitter Header</h3>
                                </div>
                                <div class="modal-body">
                                    <p>"Our aim is simple - to provide affordable web design and development services for Mobile and Computer by creating websites that fully meet your requirements a professional look that inspire confidence in your customer."</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                    <button class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                            <!-- Rss feed -->
                            <div id="rss" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="rss" aria-hidden="true">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3>RSS fed header</h3>
                                </div>
                                <div class="modal-body">
                                    <p>"Our aim is simple - to provide affordable web design and development services for Mobile and Computer by creating websites that fully meet your requirements a professional look that inspire confidence in your customer."</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                    <button class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                            <!-- Youtube -->
                            <div id="youtube" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="youtube" aria-hidden="true">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3>Youtube Vedio</h3>
                                </div>
                                <div class="modal-body">
                                    Vedios here
                                </div>
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                    <button class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p style="padding:18px 0 44px">&copy; 2014, Todos los derechos reservados </p>
            </footer>
        </div><!-- /container -->
    </section>
    <a href="#" class="btn" style="position: fixed; bottom: 38px; right: 10px; display: none; " id="toTop"> <i class="icon-arrow-up"></i> Go to top</a>
    <!-- Javascript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-tooltip.js"></script>
    <script src="~/Scripts/bootstrap-popover.js"></script>
    <script src="~/Scripts/business_ltd_1.0.js"></script>
    <script src="~/Scripts/autoNumeric.js" type=text/javascript> </script>
    <script src="~/Scripts/functions.js"></script>
    <script src="~/Scripts/Tooltip.js"></script>
    <script src="~/Scripts/jQueryStorage.js"></script>
    <script src="~/Scripts/jquery.simplemodal-1.4.4.js"></script>

    <!-- Themes switcher section ============================================================================================= -->
    <div id="secectionBox">
        <link rel="stylesheet" href="~/Content/Template/themes/switch/themeswitch.css" type="text/css" media="screen" />
        <script src="~/Content/Template/themes/switch/theamswitcher.js" type="text/javascript" charset="utf-8"></script>
        <div id="themeContainer">
            <div id="hideme" class="themeTitle">Style Selector</div>
            <div class="themeName">Oregional Skin</div>
            <div class="images style">
                <a href="~/Content/Template/themes/css/#" name="current"><img src="~/Content/Template/themes/switch/images/clr/current.png" alt="bootstrap business templates" class="active"></a>
            </div>
            <div class="themeName">Bootswatch Skins (11)</div>
            <div class="images style">
                <a href="~/Content/Template/themes/css/#" name="amelia" title="Amelia"><img src="~/Content/Template/themes/switch/images/clr/amelia.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="spruce" title="Spruce"><img src="~/Content/Template/themes/switch/images/clr/spruce.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="superhero" title="Superhero"><img src="~/Content/Template/themes/switch/images/clr/superhero.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="cyborg"><img src="~/Content/Template/themes/switch/images/clr/cyborg.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="cerulean"><img src="~/Content/Template/themes/switch/images/clr/cerulean.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="journal"><img src="~/Content/Template/themes/switch/images/clr/journal.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="readable"><img src="~/Content/Template/themes/switch/images/clr/readable.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="simplex"><img src="~/Content/Template/themes/switch/images/clr/simplex.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="slate"><img src="~/Content/Template/themes/switch/images/clr/slate.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="spacelab"><img src="~/Content/Template/themes/switch/images/clr/spacelab.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="united"><img src="~/Content/Template/themes/switch/images/clr/united.png" alt="bootstrap business templates"></a>
                <p style="margin:0;line-height:normal;margin-left:-10px;display:none;"><small>These are just examples and you can build your own color scheme in the backend.</small></p>
            </div>
            <div class="themeName">Background Patterns </div>
            <div class="images patterns">
                <a href="~/Content/Template/themes/css/#" name="pattern1"><img src="~/Content/Template/themes/switch/images/pattern/pattern1.png" alt="bootstrap business templates" class="active"></a>
                <a href="~/Content/Template/themes/css/#" name="pattern2"><img src="~/Content/Template/themes/switch/images/pattern/pattern2.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="pattern3"><img src="~/Content/Template/themes/switch/images/pattern/pattern3.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="pattern4"><img src="~/Content/Template/themes/switch/images/pattern/pattern4.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="pattern5"><img src="~/Content/Template/themes/switch/images/pattern/pattern5.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="pattern6"><img src="~/Content/Template/themes/switch/images/pattern/pattern6.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="pattern7"><img src="~/Content/Template/themes/switch/images/pattern/pattern7.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="pattern8"><img src="~/Content/Template/themes/switch/images/pattern/pattern8.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="pattern9"><img src="~/Content/Template/themes/switch/images/pattern/pattern9.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="pattern10"><img src="~/Content/Template/themes/switch/images/pattern/pattern10.png" alt="bootstrap business templates"></a>

                <a href="~/Content/Template/themes/css/#" name="pattern11"><img src="~/Content/Template/themes/switch/images/pattern/pattern11.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="pattern12"><img src="~/Content/Template/themes/switch/images/pattern/pattern12.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="pattern13"><img src="~/Content/Template/themes/switch/images/pattern/pattern13.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="pattern14"><img src="~/Content/Template/themes/switch/images/pattern/pattern14.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="pattern15"><img src="~/Content/Template/themes/switch/images/pattern/pattern15.png" alt="bootstrap business templates"></a>

                <a href="~/Content/Template/themes/css/#" name="pattern16"><img src="~/Content/Template/themes/switch/images/pattern/pattern16.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="pattern17"><img src="~/Content/Template/themes/switch/images/pattern/pattern17.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="pattern18"><img src="~/Content/Template/themes/switch/images/pattern/pattern18.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="pattern19"><img src="~/Content/Template/themes/switch/images/pattern/pattern19.png" alt="bootstrap business templates"></a>
                <a href="~/Content/Template/themes/css/#" name="pattern20"><img src="~/Content/Template/themes/switch/images/pattern/pattern20.png" alt="bootstrap business templates"></a>
            </div>
        </div>
    </div>
    <span id="~/Content/Template/themesBtn"></span>
    @RenderSection("scripts", required: false)
</body>
</html>