﻿@model IEnumerable<Domain.ProductOrder>
@{
    ViewBag.Title = "Order";

}
<div class="span12" style="text-align:center">
    <h3>Pedido</h3>
</div>
<div class="container">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-sm-3">
                @Html.DisplayFor(modelItem => item.Reference.Description)
            </div>
            <div class="col-sm-3">
                @Html.DisplayFor(modelItem => item.Quantity)
            </div>
            <div class="col-sm-3">
                @Html.DisplayFor(modelItem => item.Total)
            </div>
            <div class="col-sm-3">
                @Html.DisplayFor(modelItem => item.Notes)
            </div>
        </div>
    }
</div>
<div class="row-fluid">
    @using (Html.BeginForm())
    {

        <div class="span12" style="text-align:center">
            <h3>Contacto</h3>
            <label>
                Nombre:
            </label><input type="text" title="Por favor ingrese su nombre" required />
            <br />
            <label>
                Correo:
            </label>
            <input type="email" title="Por favor ingrese su correo" required />
            <br />
            <label>
                Teléfono:
            </label>
            <input type="text" title="Por favor ingrese un telefono de contacto(fijo o celular)" required />
            <br />
            <input type="submit" class="btn btn-large btn-success" value="Confirmar" />
            <input type="button" class="btn btn-large btn-success" value="Cancelar pedido" />
            <br />
        </div>
    }
</div>