﻿@{
    ViewBag.Title = "Empresa";
}

@Html.Label("Creación") 
<hr style="color: Red" />
<p>
    La empresa esta dedicada a la comercialización de artículos dedicados al servicio de la mesa y decoración en fiestas y celebraciones, además de productos desechables y de empaque para diferentes tipos de negocios
    <br />
    <asp:Label ID="Label1" Text="Misión" runat="server" Font-Size="X-Large" Font-Bold="true" />
    <hr style="color: Red" />
<p>
    Ser reconocida en nuestra ciudad no solo por la variedad en los productos,
    sino también por tener la mejor atención domiciliaria con oportunidad y calidad, además de la variedad.
</p>
<br />
@Html.Label("Visión") 
<hr style="color: Red" />
<p>
    Especializarnos en ser una de las mejores opciones para nuestros clientes para organizar todo tipo de eventos sociales, dirigida a todas las edades, Brindando un servicio completo según las necesidades de celebración de los clientes, atendiendo fiestas infantiles, cumpleaños, Baby Shower, Primera Comunión, Quinceañeras, Matrimonios, Bautizos, Eventos Empresariales y toda aquella ocasión que amerite de nuestro servicio.
</p>
<br />
@Html.Label("Objetivos") 
<hr style="color: Red" />
<p>
    Ofrecer a nuestros clientes Paquetes de Fiestas Temáticas con Confianza y Seguridad, incluyendo otros servicios como: Recreacionistas, Pintacaritas, Alquiler de silletería y mesas, Decoración con Bombas, servicio de Fuentes de Chocolate, entre otros.
</p>
