﻿@{
    ViewBag.Title = "Home Page";
}

@section carousel {
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div style="text-align:center" class="item active">
            <div class="wrapper">
                <img src="~/Content/Template/themes/images/carousel/business_website_templates_1.jpg" alt="business webebsite template">
                <div class="carousel-caption">
                    <h2>Que hacemos?</h2>
                    <p>We specialise in web design, web development and graphic design for different Desktop, Mobiles and Tablets.  We recently introduce cheapest and best mobile web design packages in our services. </p>
                    
                </div>
            </div>
        </div>
        <div style="text-align:center" class="item">
            <div class="wrapper">
                <img src="~/Content/Template/themes/images/carousel/business_website_templates_2.jpg" alt="business themes">
                <div class="carousel-caption">
                    <h2>Quienes somos?</h2>
                    <p>We specialise in web design, web development and graphic design for different Desktop, Mobiles and Tablets. We recently introduce cheapest and best mobile web design packages in our services.  </p>
                    @Html.ActionLink("Leer mas", "Company", "Home", null, new { @class="btn btn-large btn-success" })
                </div>
            </div>
        </div>
        <div style="text-align:center" class="item">
            <div class="wrapper">
                <img src="~/Content/Template/themes/images/carousel/business_website_templates_3.jpg" alt="business themes">
                <div class="carousel-caption">
                    <h2>Productos</h2>
                    <p>We specialise in web design, web development and graphic design for different Desktop, Mobiles and Tablets.  We recently introduce cheapest and best mobile web design packages in our services.  </p>
                    @Html.ActionLink("Icopor", "Lines", "Products", new { line = "Icopor" }, new { @class = "btn btn-large btn-success" })
                    @Html.ActionLink("Piñatería", "Lines", "Products", new { line = "Piniateria" }, new { @class = "btn btn-large btn-success" })
                    @Html.ActionLink("Varios", "Lines", "Products", new { line = "Varios" }, new { @class = "btn btn-large btn-success" })
                    @Html.ActionLink("Bolsas", "Lines", "Products", new { line = "Bolsas" }, new { @class = "btn btn-large btn-success" })
                    @Html.ActionLink("Desechables", "Lines", "Products", new { line = "Desechables" }, new { @class = "btn btn-large btn-success" })
                </div>
            </div>
        </div>
        <div style="text-align:center" class="item">
            <div class="wrapper">
                <img src="~/Content/Template/themes/images/carousel/business_website_templates_4.jpg" alt="business themes">
                <div class="carousel-caption">
                    <h2>Blog</h2>
                    <p>We specialise in web design, web development and graphic design for different Desktop, Mobiles and Tablets. We recently introduce cheapest and best mobile web design packages in our services.  </p>
                    <a href="blog.html" class="btn btn-large btn-success">Recent NEWS</a>
                </div>
            </div>
        </div>
        <div style="text-align:center" class="item">
            <div class="wrapper">
                <img src="~/Content/Template/themes/images/carousel/business_website_templates_5.jpg" alt="business themes">
                <div class="carousel-caption">
                    <h2>Need help?</h2>
                    <p>We specialise in web design, web development and graphic design for different Desktop, Mobiles and Tablets.  We recently introduce cheapest and best mobile web design packages in our services.  </p>
                    <a href="contact.html" class="btn btn-large btn-success">Contact us</a>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
}

@section middle {
 <!--
<div class="container">
    <div class="row" style="text-align:center">
        <div class="span12">
            <div class="well well-small">
                <h4>What we do?</h4>
                <p>"Our aim is simple - to provide affordable web design and development services for Mobile and Computer by creating websites that fully meet your requirements a professional look that inspire confidence in your customer."<br /><br /></p>
            </div>
        </div>
        <div class="span2">
            <div class="well well-small">
                <h4>
                    <a href="#" class="popOver" data-placement="top" data-content=" > Website Design<br> > PSD To XHTML conversion<br> > Graphic Design (Coverpage, Logo, Brocer etc.)" data-original-title="Your Website represents You..." style="display:block; text-decoration:none">
                        <i style="width:auto; font-size:2em; line-height:1em; height:auto" class="icon-magic"></i>
                        <span><br />Design</span>
                    </a>
                </h4>
                <a href="details.html"><small>view details</small></a>
            </div>
        </div>
        <div class="span2">
            <div class="well well-small">
                <h4>
                    <a href="#" class="popOver" data-placement="top" data-content=" > Website Design<br> > PSD To XHTML &amp; CSS Conversion<br> > Graphic Design (Coverpage, Logo, Brocer etc.)" data-original-title="Your Website represents You..." style="display:block; text-decoration:none">
                        <i style="width:auto; font-size:2em; line-height:1em; height:auto" class="icon-link"></i>
                        <span><br />SEO</span>
                    </a>
                </h4>
                <a href="details.html"><small>view details</small></a>
            </div>
        </div>
        <div class="span2">
            <div class="well well-small">
                <h4>
                    <a href="#" class="popOver" data-placement="top" data-content="  > Website development<br> > Updating website. <br> > Compitibility " data-original-title="For any online activities  ... " style="display:block; text-decoration:none">
                        <i style="width:auto; font-size:2em; line-height:1em; height:auto" class="icon-cogs"></i>
                        <span><br />Development</span>
                    </a>
                </h4>
                <a href="details.html"><small>view details</small></a>
            </div>
        </div>
        <div class="span2">
            <div class="well well-small">
                <h4>
                    <a href="#" class="popOver" data-placement="top" data-content=" > Website Design<br> > PSD To XHTML &amp; CSS Conversion<br> > Graphic Design (Coverpage, Logo, Brocer etc.)" data-original-title="Your Website represents You..." style="display:block; text-decoration:none">
                        <i style="width:auto; font-size:2em; line-height:1em; height:auto" class="icon-wrench"></i>
                        <span><br />Optimizations</span>
                    </a>
                </h4>
                <a href="details.html"><small>view details</small></a>
            </div>
        </div>
        <div class="span2">
            <div class="well well-small">
                <h4>
                    <a href="#" id="poverone" class="popOver" data-placement="top" data-content=" > Customizing different websites  <br> > e-commersesite  <br> > Blogs and Forums etc.<br> > Customization web packages" data-original-title="Drive your business in The Fast Track..." style="display:block; text-decoration:none">
                        <i style="width:auto; font-size:2em; line-height:1em; height:auto" class="icon-beaker"></i>
                        <span><br />Customizations</span>
                    </a>
                </h4>
                <a href="details.html"><small>view details</small></a>
            </div>
        </div>
        <div class="span2">
            <div class="well well-small">
                <h4>
                    <a href="#" class="popOver" data-placement="top" data-content=" > Drupal, Joomla and Wordpress Solution<br>> Dating Site Customization<br>> And many more.." data-original-title="Opensources web solution..." style="display:block; text-decoration:none">
                        <i style="width:auto; font-size:2em; line-height:1em; height:auto" class="icon-volume-up"></i>
                        <span><br />Open-sourse</span>
                    </a>
                </h4>
                <a href="details.html"><small>view details</small></a>
            </div>
        </div>
    </div>
</div>
-->
}
<h1>
    BIENVENIDO A DISTRIFIESTAS
</h1>
<img src="" class="photosmall" width="150" height="100"
     alt=""
     title="" />
<p>
    Distrifiestas esta dedicada a la comercialización de artículos dedicados al servicio de la mesa y decoración en fiestas y celebraciones,
    además de productos desechables y de empaque para diferentes tipos de negocios. Contamos con los mejores precios del mercado tanto para clientes
    pequeños como para mayoristas y le podemos ofrecer grandes descuentos por compras en volumen.
</p>
<br />
<p>
    Por favor, toma tu tiempo para explorar nuestra página, porque creemos que te gustarán los productos de nuestra tienda y sus precios.
    Si tienes alguna sugerencia para ayudarnos a mejorar Distrifiestas, mándanos un email: <a href="mailto:contacto@distrifiestas.com">Escríbeme</a>
</p>
<p>
</p>